# General
START_PORT=8084
END_PORT=8099
DST_HOST='localhost'
# DEVICE_PROTOCOL=https  # Use "https" if devices support TLS (default: http)

# HIKVISION
HIKVISION_USER='admin'
HIKVISION_PWD='changeme'
SIP_ID=1
SIP_ENABLE=true
SIP_TIMEOUT_HIKVISION=15
SIP_SERVER='sip.example.com'
SIP_SERVER_PORT=7060
SIP_PASSWORD='changeme'

# INTELBRAS
INTELBRAS_USER='admin'
INTELBRAS_PWD='changeme'
SIP_TIMEOUT_INTELBRAS=60
AUTOREBOOTDAY=7
AUTOREBOOTENABLE=true
AUTOREBOOTHOUR=4
